<ion-view title="GoPro Hyperlapse" id="page8" style="background-color:#911D4F;">
    <ion-content padding="true" class="has-header">
        <form id="goProHyperlapse-form6" class="list">
            <label class="item item-input" id="goProHyperlapse-input14">
                <span class="input-label">Time</span>
                <input type="number" placeholder="in minutes">
            </label>
            <label class="item item-input" id="goProHyperlapse-input17">
                <span class="input-label">FPS</span>
                <input type="number" placeholder="frames per second">
            </label>
            <label class="item item-input" id="goProHyperlapse-input15">
                <span class="input-label">Distance</span>
                <input type="number" placeholder="in feet.inches">
            </label>
            <label class="item item-input" id="goProHyperlapse-input16">
                <span class="input-label">Curve</span>
                <input type="number" placeholder="in degrees">
            </label>
        </form>
        <button id="goProHyperlapse-button9" class="button button-assertive  button-block">let's get hyper</button>
				<div class="spacer" style="width: 300px; height: 55px;"></div>

				<div>
            <img src="img/robot.png" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>
