<ion-view title="home" id="page1" hide-nav-bar="true" style="background-color:#232223;">
    <ion-content padding="true" class="has-header">
        <h1 id="home-heading4" style="color:#FDF8F8;font-weight:300;text-align:center;">Select a device</h1>
        <div class="spacer" style="width: 300px; height: 41px;"></div>
        <div>
            <a ui-sref="menu.iPhoneHyperlapse" ><img src="img/2wMigz5XQpSQ2KW6OYtH_iphone.png" width="30%" height="auto" style="display: block; margin-left: auto; margin-right: auto;"></a>
        </div>
        <div class="spacer" style="width: 300px; height: 55px;"></div>
        <div>
            <a ui-sref="menu.goProHyperlapse"><img src="img/5V82i0DMRxa6x4GFPfwq_gopro.png" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;"></a>
        </div>
    </ion-content>
</ion-view>
