<ion-view title="iPhone Hyperlapse" id="page2" style="background-color:#911D4F;">
    <ion-content padding="true" class="has-header">
        <form id="iPhoneHyperlapse-form4" class="list">
            <label class="item item-input" id="iPhoneHyperlapse-input8">
                <span class="input-label">Time</span>
                <input type="number" placeholder="in minutes">
            </label>
            <label class="item item-input" id="iPhoneHyperlapse-input9">
                <span class="input-label">Distance</span>
                <input type="number" placeholder="in feet'inches&quot;">
            </label>
            <label class="item item-input" id="iPhoneHyperlapse-input10">
                <span class="input-label">Curve</span>
                <input type="number" placeholder="in degrees">
            </label>
        </form>
				<div class="spacer" style="width: 300px; height: 55px;"></div>

        <button id="iPhoneHyperlapse-button7" ng-click="test()" class="button button-assertive  button-block">let's get hyper</button>
				<div class="spacer" style="width: 300px; height: 55px;"></div>
			  <div>
            <img src="img/robot.png" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>
