<ion-view view-title="Profile" hide-back-button="true">
        <ion-content class="padding-top">
          <img id="profile-image" src="https://twistedsifter.files.wordpress.com/2012/09/trippy-profile-pic-portrait-head-on-and-from-side-angle.jpg" alt="" />
          <h3 class="profileText"><strong>Email:</strong> JohnDoe@example.com</h3>
          <h3 class="filters"><strong>Current Filters:</strong></h3>
          <h4 class="filters">gym, Amy, work</h4>
          <input  class="filters" type="textarea" name="name" value="" placeholder="Enter new filter here">
          <!-- TODO Profile -->
          <!-- <button ng-click="profile()" class="button button-outline button-assertive">Profile</button> -->
          <a href="#/home"><button class="chatsButton button button-full button-dark">Return Home</button></a>
          <button ng-click="logOut()" class="logoutButton button button-full">Logout</button>
        </ion-content>
</ion-view>
