<ion-view view-title="Profile" hide-back-button="true">
        <ion-content class="padding-top">
          <img id="profile-image" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAATLAAAAJDU1ZmQ3YmNiLTRmOTYtNGJlNy1hMTI2LTIwZTEyMjc3OGQxNg.jpg" alt="" />
          <h3 class="profileText"><strong>Email:</strong> James.Watkins77@yahoo.com</h3>
          <h3 class="filters"><strong>Current Filters:</strong></h3>
          <h4 class="filters">job, project, work</h4>
          <input  class="filters" type="textarea" name="name" value="" placeholder="Enter new filter here">
          <input class="filtersSubmit" type="submit" name="name" value="Submit">
          <!-- TODO Profile -->
          <!-- <button ng-click="profile()" class="button button-outline button-assertive">Profile</button> -->
          <a href="#/home"><button class="button button-full button-dark">Return Home</button></a>
          <button ng-click="logOut()" class="logoutButton button button-full">Logout</button>
        </ion-content>
</ion-view>
