<ion-view view-title="Settings" hide-back-button="true">
        <ion-content class="settings padding-top">
          <h1>Select view:</h1>
            <button type="button" name="button">Default</button>
            <button type="button" name="button">Awesome</button>
            <button type="button" name="button">Different</button>
          <h1>Color scheme:</h1>
            <button type="button" name="button">Default</button>
            <button type="button" name="button">Pretty</button>
            <button type="button" name="button">Manly</button>
        </ion-content>
        <div class="bar bar-footer bar-dark">
          <a class="footerProfile" href="#/profile"><button class="footer button button-clear">Profile</button></a>
          <i class="iconSize icon ion-ios-person-outline"></i>
          <a href="#/home"><button class="footerHome footer button button-clear">Home</button></a>
          <i class="iconSize icon ion-ios-home-outline"></i>
          <button ng-click="logOut()" class="footerLogout footer button button-clear">Logout</button>
          <i class="iconSize icon ion-sad-outline"></i>
        </div>
</ion-view>
