<ion-view>
  <ion-nav-title>
			<span class="navTitle">Clique</span><img class="logoSmall" src="/img/cliqueLogo.png">
		 <a href="#/create"><button class="groupz" class="button button-clear button-positive">+Group</button></a>
	 </ion-nav-title>
        <ion-content class="padding-top">
          <label class="chatSearch item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search Chats" ng-model="view.searchChats">
          </label>
          <ul ng-repeat="group in groups | filter:view.searchChats">
            <li class="groupList">  
              <a href="#/chat/{{group.key}}">{{ group.groupData.group_name }}</a>
              <!-- <button ng-click="group.delete(group.key)"><i class="groupIcons iconSize icon ion-navicon-round"></i></button> -->
              <i ng-click="group.delete(group.key)" id="foo" class="iconSize icon ion-close-round"></i>
            </li>
          </ul>
          <a href="#/chat"><button class="chatsButton button button-full button-dark">View Chats</button></a>
          <a href="#/chatNode"><button class="chatsButton button button-full button-dark">View Cool Chats</button></a>
        </ion-content>
        <div class="bar bar-footer bar-dark">
          <a class="footerProfile" href="#/profile"><button class="footer button button-clear">Profile</button></a>
          <i class="iconSize icon ion-ios-person-outline"></i>
          <a class="footerSettings" href="#/settings"><button class="footer button button-clear">Settings</button></a>
          <i class="iconSize icon ion-ios-cog-outline"></i>
          <button ng-click="logOut()" class="footerLogout footer button button-clear">Logout</button>
          <i class="iconSize icon ion-sad-outline"></i>
        </div>
</ion-view>
