<ion-view>
  <ion-nav-title>
     <span class="navTitle">Clique</span><img class ="logoSmall" src="/img/cliqueLogo.png">
   </ion-nav-title>
        <ion-content class="padding-top">
          <h1 class="chatsTitle">Chats:</h1>
          <label class="chatSearch item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search Chats">
          </label>
          <ul>
            <li class="groupList"><a href="#">Tim, Ben, Mike</a></li>
            <li class="groupList"><a href="#">Martha, Nmuta, Eli</a></li>
            <li class="groupList"><a href="#">Cass, Jake, Adam, Peter, Jane</a></li>
            <li class="groupList"><a href="#">Tim, Ben, Mike, Ricky, Andres</a></li>
            <li class="groupList"><a href="#">Martha, Nmuta, Eli</a></li>
            <li class="groupList"><a href="#">Cass, Jake, Adam</a></li>
            <li class="groupList"><a href="#">Tim, Ben, Mike</a></li>
            <li class="groupList"><a href="#">Martha, Nmuta, Eli, Brooks</a></li>
            <li class="groupList"><a href="#">Cass, Jake, Adam</a></li>
          </ul>
          <a href="#/chat"><button class="chatsButton button button-full button-dark">View Chats</button></a>
          <a href="#/chatNode"><button class="chatsButton button button-full button-dark">View Cool Chats</button></a>
        </ion-content>
        <div class="bar bar-footer bar-dark">
          <a class="footerProfile" href="#/profile"><button class="footer button button-clear">Profile</button></a>
          <i class="iconSize icon ion-ios-person-outline"></i>
          <a class="footerSettings" href="#/settings"><button class="footer button button-clear">Settings</button></a>
          <i class="iconSize icon ion-ios-cog-outline"></i>
          <button ng-click="logOut()" class="footerLogout footer button button-clear">Logout</button>
          <i class="iconSize icon ion-sad-outline"></i>
        </div>
</ion-view>
