<ion-view view-title="Home" hide-back-button="true">
        <ion-content class="padding-top">
          <div class="list text-center padding">
            <img class="logo" src="/img/clique.png" alt="No logo" />
          </div>
          <!-- TODO Profile -->
          <!-- <button ng-click="profile()" class="button button-outline button-assertive">Profile</button> -->
          <a href="#/chat"><button class="chatsButton button button-full button-dark">View Chats</button></a>
          <label id="foo" class="chatSearch item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search Chats">
          </label>
          <a href="#/profile"><button class="profileButton button button-large button-stable">Profile</button></a>
          <button ng-click="logOut()" class="logoutButton button button-large button-stable">Logout</button>
        </ion-content>
</ion-view>
