<!-- TODO Change specific group chat to Specific groups title -->
<ion-view view-title="Chat Node" hide-back-button="false">
  <ion-pane class="messaging-view">
    <ion-header-bar class="bar-calm">
      <h1 class="title">Ioinc Chat</h1>
    </ion-header-bar>
    <ion-content class="chatNode content-stable" on-swipe-left="hideTime = false" on-swipe-right="hideTime = true">
			<div class="row">
			  <div class="relative col col-50"><div class="nodes tLefty">M</div>
					<span class="messageSpan messageNode">Fuckkkkkkk</span>
					</div>
			  <div class="relative col col-50 right"><div class="nodes tRighty">T</div>
				<span class="messageSpan messageNode">Fuckkkkkkk</span>
			</div>
			</div>

			<div class="row ">
			  <div class="relative  col col-50"><div class="nodes bLefty">J</div>
				<span class="messageSpan messageNode">Fuckkkkkkk</span>
			</div>
			  <div class="relative  col col-50 right"><div class="nodes bRighty">B</div>
				<span class="messageSpan messageNode">Fuckkkkkkk</span>
			</div>
			</div>

    </ion-content>
    <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
      </label>
      <button class="button button-clear" ng-click="sendMessage()">
        Send
      </button>
    </ion-footer-bar>
  </ion-pane>
</ion-view>
