<ion-view hide-back-button="false">
  <ion-nav-title>
    <p>
      {{groupNameOnChat}}
    </p>
	</ion-nav-title>
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button class="button-icon ion-arrow-left-c">
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-pane class="messaging-view">
    <ion-header-bar class="bar-calm">
      <h1 class="title">Ioinc Chat</h1>
    </ion-header-bar>
    <ion-content class="content-stable" on-swipe-left="hideTime = false" on-swipe-right="hideTime = true">
      <div ng-repeat="message in messages" class="messages" ng-class="{selfieMsgContainer: user_id == message.user_id }">
        <div class="message" >
          <span class='initialSpan' ng-class="{selfieMsgInitial: user_id == message.user_id }">{{message.email[0].toUpperCase()}}</span>
          <span class="messageSpan" ng-class="{selfieMsg: user_id == message.user_id }">{{ message.text }}</span>
        </div>
        <div class="time" ng-class="{'slide-right': hideTime, '': !hideTime}">{{message.time}}</div>
      </div>

    </ion-content>
    <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
      </label>
      <button class="button button-clear" ng-click="sendMessage()">
        Send
      </button>
    </ion-footer-bar>
  </ion-pane>
</ion-view>
