@font-face {
   font-family: cliqueFont;
   src: url(../fonts/SWATRG_.TTF);
}
/* Empty. Add your own CSS if you like */

.larger {
    font-size: 120px;
}

.medium {
    font-size: 30px;
}


/** Error Messages **/

/** Styling for the username field **/
label.item.has-error {
  border-bottom: 2px solid red;
}

/** Styling for the password field when an error exists**/
label.item.has-error-lr {
  border-bottom: 2px solid red;
}

/** Styling for the password field when an error has been resolved**/
label.item.valid-lr {
  border-left: 2px solid green;
  border-right: 2px solid green;
}

/** Styling for the error text and container **/
.form-errors {
  margin: 5px 0
}
.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}

 #profile-image {
        display: block;
        border-radius: 100px;
        border: 1px solid #fff;
        width: 128px;
        height: 128px;
        margin: 30px auto 0;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
      }
.profileText {
  padding: 8%;
}
.chatSearch{
  width: 90%;
  margin-left: 5%;
  margin-bottom: 27%;
  margin-top: 2%;
}
.chatsButton{
  width: 50%;
}
.profileButton{
  margin-left: 20%;
  margin-right: 5%;
}
.logoSmall{
  margin-top: 5px;
  margin-left: 3%;
  position: absolute;
  width: 42px;
  height: 35px;
  padding: 1px;
}
.navTitle{
  font-size: 26px;
  margin-bottom: -5px;
  font-family: 'cliqueFont';
  padding: 1px;
}
.iconSize{
  font-size: 30px;
  padding-right: 1px;
}
.footer{
  padding: 1px;
  margin-left: 6%;
  margin-right: 1%;
  font-size: 10px;
  font-family: 'cliqueFont';
}
.register{
  color: #139DEA;
}
.filters{
  font-family: 'cliqueFont';
  margin-left: 8%;
}
.settings{
  font-family: 'cliqueFont';
  margin-left: 8%;
}
